@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Open+Sans:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

:root {
  --light-color: #FCF5ED;
  --highlight-color: #F4BF96;
  --accent-color: #CE5A67;
  --dark-color: #1F1717;
}
  
body, a:visited {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'Open Sans', sans-serif;
}

button:disabled {
  background-color: var(--light-color);
  color: var(--accent-color);
  opacity: 0.5;
}

button:disabled:hover {
  color: var(--dark-color);
  box-shadow: 0px 0px 0px var(--dark-color);
}
