.cart-section {
    display: flex;
    max-width: 1200px;
    min-height: 80vh;
    margin: 10vh auto 0;
    padding: 0 1rem;
}

.cart-container {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cart-item {
    border: solid 0.1rem var(--highlight-color);
    border-radius: 1rem;
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.cart-item > img {
    max-height: 150px;
    border-radius: 1rem;
}

.item-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.quantity-selector {
    display: flex;
    gap: 0.5rem;
}

.quantity-selector > span {
    width: 1.2rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.quantity-selector > input {
    width: 3rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    text-align: center;
}

.checkout-container {
    min-width: 250px;
    height: fit-content;
    margin: 2rem auto;
    background-color: var(--highlight-color);
    border-radius: 1rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.checkout {
    margin: 0 2rem;
}

.pay-button {
    margin: 0 auto;
    width: 50%;
}

@media(max-width: 800px) {
    .cart-section {
        flex-direction: column;
        padding: 0;
    }

    .cart-container {
        width: 100%;
    }
}
