@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: clamp(1000px, 80%, 3000px);
    margin: 1.5rem auto;
}

.navbar > ul {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

.branding {
    font-family: 'Rubik Burned', system-ui;
    font-size: 2.5rem;
}

.cart-link {
    display: flex;
}

.nav-link, .cart-link {
    color: var(--dark-color);
}

.cart-icon-container {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-products {
    position: absolute;
    top: 1.2rem;
    margin-left: 1rem;
    color: var(--light-color);
    background-color: var(--accent-color);
    border-radius: 50%;
    font-size: 0.8rem;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
}

.cart-price {
    font-size: 0.6rem;
}