.home-section {
    min-height: 80vh;
    margin-top: 10vh;
}

.image-gallery {
    max-width: clamp(1000px, 80%, 3000px);
    margin: auto;
}

.top-products {
    max-width: clamp(1000px, 80%, 3000px);
    margin: 10vh auto;
    padding: 0 1rem;
}

.top-products-container {
    margin: 1rem auto;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 1rem;
    overflow: auto;
}

.categories {
    max-width: clamp(1000px, 80%, 3000px);
    margin: auto;
    padding: 0 1rem;
}

.categories-container {
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.category-card {
    max-width: 250px;
    text-align: center;
    transition: all 0.5s;
}

.category-card:hover {
    transform: scale(1.1);
}

.category-card > img {
    max-width: 200px;
    margin: 0.8rem 0;
}

@media(max-width: 800px) {
    .categories-container {
        justify-content: center;
    }

    .category-card > img {
        max-width: 150px;
    }
}
