.image-gallery {
    max-width: clamp(1000px, 80%, 3000px);
    margin: auto;
}

.top-products {
    max-width: clamp(1000px, 80%, 3000px);
    margin: 10vh auto;
}

.top-products-container {
    margin: 1rem auto;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.categories {
    max-width: clamp(1000px, 80%, 3000px);
    margin: auto;
}

.categories-container {
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.category-card {
    max-width: 250px;
    text-align: center;
    transition: all 0.5s;
}

.category-card:hover {
    transform: scale(1.1);
}

.category-card > img {
    max-width: 200px;
    margin: 0.8rem 0;
}